.day {
  width: 90%;
  display: flex;
  background-color: #cccccc;
  color: white;
  border-radius: 20px;
  max-width: 1300px;
  min-height: 150px;
  margin-bottom: 20px;
  padding: 30px;
  box-sizing: border-box;
  justify-content: space-around;
}
